                                      "Program Details"

Welcome All

This project is regarding Bus ticket generation in banglore

                           "Bus Ticket Generation Program"

In [10]:
stage1=int(input())   #Starting Stage of Vehicle

0

In [11]:
stage2=int(input())   #The Stage passenger wants to get down.

4

In [12]:
nop=int(input("Enter number of people: "))   #number of people

Enter number of people: 1

In [35]:
SL=["Stage1","Stage2","Stage3","Stage4","Stage5","Stage6","Stage7","Stage8","Stage9","Stage10"]
for i in range(len(SL)):
    ST=stage2-stage1
    Fixedcharges=5
    GST=0
    Fare=nop*Fixedcharges*ST
    Price=Fixedcharges*ST
    
    From=SL[stage1]
    TOGO=SL[stage2]
print(From)
print(" To")
print(TOGO)

print("       ","Fare","+","GST")
print(nop,"*",Price,"=",Fare,"+",GST)
print("Total : RS",Fare,"(cash)")

Stage1
 To
Stage6
        Fare + GST
1 * 25 = 25 + 0
Total : RS 25 (cash)

                    "Bus Ticket Generation Program by using functions"

In [36]:
def BMTC_TICKET(stage1,stage2,nop):
    
    
    "stage1=The stage passenger enterd,stage2= The Stgae passenger going to get down,nop=number od people"
    
    
    SL=["Stage1","Stage2","Stage3","Stage4","Stage5","Stage6","Stage7","Stage8","Stage9","Stage10"]
    for i in range(len(SL)):
        ST=stage2-stage1
        Fixedcharges=5
        Fare=nop*Fixedcharges*ST
        GST=0
        Price=Fixedcharges*ST
        
        
        From=SL[stage1]
        TOGO=SL[stage2]
    print(From)
    print("To")
    print(TOGO)
    print("       ","Fare","+","GST")
    print(nop,"*",Price,"=",Fare,"+",GST)
    print("Total : RS",Fare,"(cash)")

In [37]:
BMTC_TICKET(0,4,1)

Stage1
To
Stage5
        Fare + GST
1 * 20 = 20 + 0
Total : RS 20 (cash)

           Here's is some example with the help of stop name(stage name)

Example 1:

In [19]:
stage1=int(input())   #Starting Stage of Vehicle

0

In [41]:
stage2=int(input())   #The Stage passenger wants to get down.

4

In [42]:
nop=int(input("Enter number of people: "))   #number of people

Enter number of people: 1

In [43]:
SL=["BashyamCircle(sadh)","DT Temple","HG ghat","ESI","MagadiRoad"]  #SL = STAGE LIST
for i in range(len(SL)):
    ST=stage2-stage1
    Fixedcharges=5
    Fare=nop*Fixedcharges*ST
    GST=0
    Price=Fixedcharges*ST
    
    
    From=SL[stage1]
    TOGO=SL[stage2]
print(From)
print("To")
print(TOGO)
print("       ","Fare","+","GST")
print(nop,"*",Price,"=",Fare,"+",GST)
print("Total : RS",Fare,"(cash)")

BashyamCircle(sadh)
To
MagadiRoad
        Fare + GST
1 * 20 = 20 + 0
Total : RS 20 (cash)

Example 2:

In [24]:
stage1=int(input())   #Starting Stage of Vehicle

0

In [25]:
stage2=int(input())   #The Stage passenger wants to get down

5

In [26]:
nop=int(input("Enter number of people: "))   #number of people

Enter number of people: 1

In [44]:
SL=["KBS","ShivanandaCircle","CBI","Hebbal","Batrayanapura","YelhankaNES","VenkaTala","BSF"]
for i in range(len(SL)):
    ST=stage2-stage1
    Fixedcharges=5
    Fare=nop*Fixedcharges*ST
    GST=0
    Price=Fixedcharges*ST
    
    From=SL[stage1]
    TOGO=SL[stage2]
    
print(From)
print("TO")
print(TOGO)
print("       ","Fare","+","GST")
print(nop,"*",Price,"=",Fare,"+",GST)
print("Total : RS",Fare,"(cash)")

KBS
TO
Batrayanapura
        Fare + GST
1 * 20 = 20 + 0
Total : RS 20 (cash)

In [45]:
def Bus_Ticket(stage1,stage2,nop):
    SL=["KBS","ShivanandaCircle","CBI","Hebbal","Batrayanapura","YelhankaNES","VenkaTala","BSF"]
    for i in range(len(SL)):
        ST=stage2-stage1
        Fixedcharges=5
        Fare=nop*Fixedcharges*ST
        GST=0
        Price=Fixedcharges*ST
        
        From=SL[stage1]
        TOGO=SL[stage2]
        
        
    print(From)
    print("To")
    print(TOGO)
    print("       ","Fare","+","GST")
    print(nop,"*",Price,"=",Fare,"+",GST)
    print("Total : RS",Fare,"(cash)")

In [46]:
Bus_Ticket(0,5,1)

KBS
To
YelhankaNES
        Fare + GST
1 * 25 = 25 + 0
Total : RS 25 (cash)